@model IEnumerable<IxTimeSheet.DAL.Model.TimeLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Public">Dashboard</a><br />
    <a asp-action="Index" asp-controller="TimeLogs">   Refresh   </a>
</p>

@using(@Html.BeginForm())
    {
        <label>Search by Client / Project </label>
        <input id="Search" name="Search" type="text" class="form-control"/><br />
        <input type="submit" class="btn-primary" value="Search"/><br />
    }  

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem)
            </th>
            <th>
                <a asp-action="Index" asp-route-SortOrder="@ViewData["DateSort"]">
                @Html.DisplayNameFor(model => model.Date)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillableStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours.Hours):@Html.DisplayFor(modelItem => item.Hours.Minutes)
                </td>
                <td>
                    @if (item.BillableStatus == true)
                    {
                        <label>Billable</label>
                    }
                    else
                    {
                        <label>Non Billable</label>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
