@model IxTimeSheet.DAL.Model.Job

@{
    ViewData["Title"] = "Delete";
}

<h4>Are you sure you want to Delete this Job?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
